<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
  <form class="filters" data-search-filters>
    <div class="filters__search-item small-12 medium-3 columns" data-filter-item>
      <a class="filters__title header-medium" data-filter-link><span class="fa fa-arrow-circle-right"></span>Search by pilot</a>
      <div class="filters__container">
        <select class="filters__select header-small" name="pilots" id="pilots" ng-model="selectedPilot" ng-options="p for p in pilots">
          <option value="">Select a pilot</option>
        </select>
        <button class="filters__search-button primary-button text-small" ng-click="reset();updateResultsByPilot(selectedPilot);">Search</button>
      </div>
    </div>

    <div class="filters__search-item small-12 medium-3 columns" data-filter-item>
      <a class="filters__title header-medium" data-filter-link><span class="fa fa-arrow-circle-right"></span>Search by club</a>
      <div class="filters__container">
        <select class="filters__select header-small" name="club" id="club" ng-model="selectedClub" ng-options="p for p in clubs">
          <option value="">Select a club</option>
        </select>
        <button class="filters__search-button primary-button text-small" ng-click="reset();updateResultsByClub(selectedClub);">Search</button>
      </div>
    </div>

    <div class="filters__search-item small-12 medium-3 columns" data-filter-item>
      <a class="filters__title header-medium" data-filter-link><span class="fa fa-arrow-circle-right"></span>Search by type</a>
      <div class="filters__container">
        <select class="filters__select header-small" name="type" id="type" ng-model="selectedType" ng-options="p for p in types">
          <option value="">Select a flight type</option>
        </select>
        <button class="filters__search-button primary-button text-small" ng-click="reset();updateResultsByType(selectedType);">Search</button>
      </div>
    </div>

    <div class="filters__search-item small-12 medium-3 columns" data-filter-item>
      <a class="filters__title header-medium" data-filter-link><span class="fa fa-arrow-circle-right"></span>Search by site</a>
      <div class="filters__container">
        <select class="filters__select header-small" name="site" id="site" ng-model="selectedSite" ng-options="p for p in sites">
          <option value="">Select a site</option>
        </select>
        <button class="filters__search-button primary-button text-small" ng-click="reset();updateResultsBySite(selectedSite);">Search</button>
      </div>
    </div>

    <div class="filters__limit small-12 columns" ng-if="flights.length > 5">
      <h3 class="filters__limit-title text-small">Limit results:</h3>
      <select name="limit" id="limit" class="filters__select header-small" ng-model="selectedLimit">
        <option value="">Show results</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="999">ALL</option>
      </select>
    </div>
  </form>
</div>

<div class="row" ng-repeat="flight in flights | limitTo: flightsLimitTo">
  <div class="flight">
    <div class="flight__inner">
      <header class="flight__header">
        <span class="flight__index header-medium" ng-class="{double: ($index > 8 && $index <= 98 ), triple: ($index > 98)}" data-index="{{$index+1}}">{{$index+1}}</span>
        <h2 class="header-medium flight__pilot">
          {{flight.pilot}}
        </h2>
        <h3 class="heading-medium flight__title">{{flight.title}}</h3>
      </header>
      <div class="flight__details">
        <div class="flight__details-text text-small">Club: <span class="text-small--highlight">{{flight.club}}</span></div>
        <div class="flight__details-text text-small">Glider: <span class="text-small--highlight">{{flight.glider}}</span></div>
      </div>
      <div class="flight__chronology vertical-spacer">
        <div class="flight__chronology-calendar fa fa-calendar">
          <span class="text-small">{{flight.date}}<span>
        </div>
        <div class="text-small">
          <span class="flight__chronology-start fa fa-clock-o">
            <span class=" text-small">{{flight.start}}</span>
          </span>
          -
          <span class="flight__chronology-finish fa fa-clock-o">
            <span class="text-small">{{flight.finish}}</span>
          </span>
        </div>
        <div class="text-small">{{flight.duration}}</div>
      </div>
      <div class="flight__location vertical-spacer">
        <span class="flight__location-takeoff fa fa-map-marker"><span class="text-small">{{flight.takeoff}}</span></span>
        <span class="flight__location-landing fa fa-map-marker"><span class="text-small">{{flight.landing}}</span></span>
      </div>
      <div class="totals text-small vertical-spacer">
        <div><span class="text-small--darken">Distance:</span> {{flight.total}}</div>
        <div><span class="text-small--darken">Score:</span> {{flight.score}}</div>
        <div ng-if="flight.multiplier != undefined"><span class="text-small--darken">Multiplier:</span> {{flight.multiplier}}</div>
      </div>
      <div class="stats-container">
        <button class="secondary-button fa fa-chevron-right" data-show-stats>
          <span class="text-small">Show stats</span>
        </button>
        <div ng-include="'components/fragments/stats.html'"></div>
      </div>
    </div>  
  </div>  
</div>

<div class="row">
  <div class="show-more small-12">
    <button class="primary-button text-small" ng-click="showMore();">SHOW MORE</button>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
