.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #084;
}

$dark-background: black;
$panel-background: #212121;
$light-background: #303030;
$light-text: #cecece;
$medium-text: #ababab;
$breaker: #333;
$start-color: #2dd82d;
$finish-color: #ff3939;

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

body {
    background-color: $dark-background;
    font-family: $font-body-regular;
    font-size: 1rem;
}

h1,h2,h3 {
    color: #fff;
    margin: 0;
}

.flight {
    color: #fff;
    background-color: $panel-background;
    margin: rem(10px);

    &__inner {
        padding: rem(10px);
    }

    &__header {
        border-bottom: 1px solid $breaker;
        padding: rem(10px) 0;
    }

    &__pilot {
        color: map-get($light, type__10);
        display: inline-block;
    }

    &__details {
        padding: rem(10px) 0;
        &-text {

        }
    }

    &__chronology {
        &-calendar {
            &::before {
                margin-right: rem(5px);
            }
        }
        &-start {
            color: $start-color;
        }
        &-finish {
            color: $finish-color;
        }
    }

    &__index {
        color: #fff;
        border-right: 2px solid map-get($dark, light__10);
        display: inline-block;
        margin-right: rem(4px);
        padding-right: rem(8px);
    }

    &__location {
        &-takeoff {
            margin-right: rem(10px);
        }
        &-takeoff::before,
        &-landing::before {
            margin-right: rem(5px);
            font-size: rem(25px);
        }
        &-takeoff::before {
            color: $start-color;
        }
        &-landing::before {
            color: $finish-color;
        }
    }

    &__stats {
        display: none;
        &.active {
            display: block;
        }
    }
}

.show-more {
    padding: rem(10px);
}