// Components - Typography
// -------------------------

body {
	@extend %text--base;
	background-color: $background;
	-webkit-font-smoothing: antialiased;
}

// Headers
.header-large {
	@include responsive-type-size(terra);
	font-family: $font-heading;
	text-transform: uppercase;
}

.header-medium {
	@include responsive-type-size(giga);
	font-family: $font-heading;
	text-transform: uppercase;
}

.header-small {
	@include responsive-type-size(gaga);
	font-family: $font-heading;
	text-transform: uppercase;
}

// text
.text-small {
	@include responsive-type-size(kilo);
	font-family: $font-body-regular;
	font-weight: bold;
	&--highlight {
		color: lightblue;
	}
	&--darken {
		color: darken(#fff, 20%)
	}
}