// Settings - Dimensions
// -------------------------

$row-width: 75.000rem; // 1200px
$row-width-expand: 78.750rem; // 1260px
$row-width-narrow: 69.375rem; // 1110px
$column-gutter: 0; // TREK design has no gutters
$spacing: 1.875rem; // TREK standard spacing 
$double-spacing: $spacing * 2; 
$half-spacing: $spacing / 2;