// Settings - Typography
// -------------------------

$base-font-size: 16px;
$base-line-height: 1.5;

// Headings
$font-heading: 'roboto_condensedbold', Arial, Helvetica, sans-serif;
// Text
$font-body-regular: 'robotoregular', Arial, Helvetica, sans-serif;
$font-body-light: 'robotolight', Arial, Helvetica, sans-serif;
$font-body-bold: 'robotobold', Arial, Helvetica, sans-serif;
$font-body-semibold: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif;

$type-sizing: (
	terra: (
		small: (
			font-size: 25px,
			line-height: 1.563rem
		),
		medium: (
			font-size: 45px,
			line-height: 2.188rem
		),
		large: (
			font-size: 60px,
			line-height: 3.125rem
		)
	),
	giga: (
		small: (
			font-size: 25px,
			line-height: 1.375rem
		),
		medium: (
			font-size: 30px,
			line-height: 1.563rem
		),
		large: (
			font-size: 50px,
			line-height: 3.125rem
		)
	),
	gaga: (
		small: (
			font-size: 25px,
			line-height: 1.375rem
		),
		medium: (
			font-size: 30px,
			line-height: 1.563rem
		),
		large: (
			font-size: 40px,
			line-height: 1.7rem
		)
	),
	mega: (
		small: (
			font-size: 15px,
			line-height: 0.938rem
		),
		medium: (
			font-size: 20px,
			line-height: 1.250rem
		),
		large: (
			font-size: 30px,
			line-height: 1.875rem
		)
	),
	kilo: (
		small: (
			font-size: 20px,
			line-height: 1.50rem
		),
		medium: (
			font-size: 20px,
			line-height: 1.250rem
		),
		large: (
			font-size: 24px,
			line-height: 1.500rem
		)
	),
	hecto: (
		small: (
			font-size: 15px,
			line-height: 1.250rem
		),
		medium: (
			font-size: 15px,
			line-height: 1.250rem
		),
		large: (
			font-size: 18px,
			line-height: 1rem
		)
	),
	deca: (
		small: (
			font-size: 15px,
			line-height: 0.938rem
		),
		medium: (
			font-size: 15px,
			line-height: 0.938rem
		),
		large: (
			font-size: 16px,
			line-height: 1rem
		)
	),
	base: ( // how low can you go?
		small: (
			font-size: 13px,
			line-height: 1.5rem
		),
		medium: (
			font-size: 12px,
			line-height: 1.5rem
		),
		large: (
			font-size: 13px,
			line-height: 1.500rem
		)
	),
	deci: (
		small: (
			font-size: 11px,
			line-height: 0.938rem
		),
		medium: (
			font-size: 12px,
			line-height: 1.250rem
		),
		large: (
			font-size: 12px,
			line-height: 1.250rem
		)
	),
	centi: (
		small: (
			font-size: 10px,
			line-height: 0.938rem
		),
		medium: (
			font-size: 10px,
			line-height: 0.938rem
		),
		large: (
			font-size: 10px,
			line-height: 0.938rem
		)
	)	
);
